.box_wrap {
	padding: 15px;
	background: #fff;
	border: 1px solid #f5f7fa;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	border-radius: 4px;
}
.ivu-switch-isTop.ivu-switch-checked {
	border-color: #ed4014;
	background-color: #ed4014;
}
.ivu-switch-artStatus.ivu-switch-checked {
	border-color: #19be6b;
	background-color: #19be6b;
}