
.user-info {
	display: flex;
	justify-content: space-between;
	background-color: #f4f4f4;
	border-bottom: 1px solid #dedede;
	padding: 10px 0;
}
.user-left {
	padding: 0 5px;
	display: flex;
	align-items: center;
	width: 50%;
}
.user-left .uname {
	font-size: 16px;
	font-weight: 600;
	margin-left: 5px;
}
.user-right {
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 0 5px;
}
.user-left>img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.user-info-list img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.user-info-list .num {
	text-align: center;
}
.user-info-list .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}